RewriteEngine On

# URLs for pages
RewriteRule ^main$ index.php?page=main [L]
RewriteRule ^users$ index.php?page=users [L]
RewriteRule ^advertisements$ index.php?page=advertisements [L]

# URL .php delete
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# URL delete .php if the file exists
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

#For the API
RewriteRule ^api/([a-zA-Z0-9_-]+)$ api/$1.php [L]